<div dir="ltr" style="text-align: left;" trbidi="on">
  <div dir="ltr" style="text-align: left;" trbidi="on">
    <div>Recommended</div>
    <ul style="text-align: left;">
      <li><a href="http://www.freeformatter.com/">http://www.freeformatter.com</a>&nbsp;- a solid collection of
        formatters, validators, converters
      </li>
    </ul>

    <div>Websockets</div>
    <ul style="text-align: left;">
      <li><a href="http://www.websocket.org/echo.html">Echo web client</a>&nbsp;- can be used to test a local websocket
        service.&nbsp;</li>
    </ul>
    <div>
      JSON
    </div>
    <div>
      <ul style="text-align: left;">
        <li><a href="http://jsonformatter.curiousconcept.com/" rel="nofollow">JSON Formatter &amp; Validator</a>&nbsp;-
          JSON prettifier.
        </li>
      </ul>
      <div>
        Encoding/Decoding
      </div>
    </div>
    <div>
      <ul style="text-align: left;">
        <li><a href="http://www.base64decode.org/" rel="nofollow">Base64 encode/decode</a></li>
      </ul>
      <div>
        Formatters/Beautifiers
      </div>
    </div>
    <div>
      <ul style="text-align: left;">
        <li><a href="http://codebeautify.org/">codebeautify.org</a>&nbsp;- supports a wide rage languages and formats
          (XML, JSON, etc)
        </li>
      </ul>
      <div>
        Crypto/Security
      </div>
    </div>
    <div>
      <ul style="text-align: left;">
        <li><a href="https://www.cryptopro.ru/certsrv">https://www.cryptopro.ru/certsrv</a> - Test Certification
          Authority&nbsp;</li>
      </ul>
      <div>
        CSS
      </div>
    </div>
    <div>
      <ul style="text-align: left;">
        <li><a href="http://www.layoutit.com/build">http://www.layoutit.com/build</a>&nbsp;- Bootstrap GUI builder
          (free)&nbsp;</li>
      </ul>
    </div>
  </div>
</div>
